# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment files
.env

# IDE
.vscode
.idea

# OS
.DS_Store

# Logs
*.log

# Test files
*_test.go
tests/

# Build artifacts
main
cafe-between
