.hero-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInHero 2s ease-out 0.1s forwards;
}

@keyframes fadeInHero {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-image-container {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: hidden; /* обрезает всё, что выходит за границы */
  position: relative;
}

.hero-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right; 
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero-flex-container {      
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .hero-flex-container {
    flex-direction: row;
    align-items: center;
  }
}

.hero-main-title {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .hero-main-title {
    margin-bottom: 0;
  }
}



.hero-h1 {
  color: var(--color-hero);
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
}

@media (min-width: 768px) {
  .hero-h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1024px) {
  .hero-h1 {
    font-size: 7rem;
  }
}

.hero-contact-info {
  color: var(--color-hero);
  text-align: right;
  font-size: 0.875rem;
}

.hero-date p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.hero-contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-contact-item {
  color: rgba(var(--color-hero), 0.7);
}

.hero-contact-label {
  color: rgba(var(--color-hero), 0.7);
}

.hero-contact-value {
  color: var(--color-hero);
}

.hero-link {
  color: var(--color-hero);
  text-decoration: none;
}

.hero-link:hover {
  text-decoration: underline;
}

@media (max-width: 380px) {
  .hero-image {
    object-position: center;
  }
}
